@import '../constants.scss';
.restaurant-menu {
  display: flex;
  flex-direction: column;

  &.light {
    color: $font-color-black;
  }

  &.dark {
    .restaurant-text {
      background-color: $background-color-dark;
      color: $alt-black;
      box-shadow: $dark-shadow;
    }
  }

  .restaurant-time {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
  }
  .restaurant-text {
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 15px;
    background-color: #f0f2f3;
    font-size: 1rem;
    border-radius: 0.7rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.12);
    align-self: flex-start;
    .content {
      font-size: 13px;
      line-height: 1.4;
      padding-right: 0.5rem;
      padding-top: 0.4rem;
    }
  }
}
