.restaurant-select {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: calc(100vw - 20px);
  margin-top: 5px;

  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  .select-box,
  .real-select-box {
    min-width: 20%;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    white-space: nowrap;
    padding: {
      top: 0.5rem;
      bottom: 0.5rem;
    }
    margin: {
      right: 10px;
      top: 10px;
      bottom: 10px;
    }
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;
    background-color: #f0f2f3;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.12);
  }
  .real-select-box {
    color: #8a0000;
  }

  .fake-select {
    padding: 0.2rem;
  }
}
