.version-note {
  padding-left: 20px;
  .title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .version {
    padding-top: 10px;
    font-weight: bold;
  }
  .desc {
    margin-top: 2px;
    font-size: 0.8rem;
  }
}
