@import '../constants.scss';

.calendar {
  &.light {
    color: $font-color-black;
  }

  &.dark {
    background-color: $background-color-dark;
    .week {
      .date {
        color: $alt-black;
      }
      .sunday-date {
        color: $pink;
      }
      .satday-date {
        color: $blue;
      }
      .not-date {
        color: gray;
      }
      .today {
        background-color: $gray;
      }
    }
  }

  .week {
    display: flex;
    .date,
    .sunday-date,
    .satday-date,
    .not-date {
      z-index: 2;
      position: relative;
      width: 14.2857%;
      text-align: center;
      font-size: 0.9rem;
      color: black;
      margin-bottom: 0.7rem;
    }
    .sunday-date {
      color: red;
    }
    .satday-date {
      color: blue;
    }
    .today {
      z-index: -1;
      position: absolute;
      top: -0.5rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: lightgray;
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
    .not-date {
      color: gray;
    }
  }
}
