.schedule-date {
  .date {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    .IoIosArrowBack {
      cursor: pointer;
      padding-right: 1rem;
    }
    .IoIosArrowForward {
      cursor: pointer;
      padding-left: 1rem;
    }
  }

  .day {
    color: gray;
  }
}
