.schedule-date {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  .IoIosArrow {
    cursor: pointer;
    padding: 10px;
  }

  .date {
    margin: {
      left: 15px;
      right: 15px;
    }
    height: 16px;
    border-radius: 0.7rem;
    padding: {
      top: 10px;
      bottom: 10px;
      left: 45px;
      right: 45px;
    }
  }
}
