@import '../constants.scss';

.label {
  font-size: 0.8rem;
  border-left: 5px solid #9e0606;
  background-color: white;
  padding: 0.8rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.12);
  margin-bottom: 0.8rem;

  &.light {
    color: $font-color-black;
  }

  &.dark {
    background-color: $background-color-dark;
    border-left: 5px solid $pink;
    box-shadow: $dark-shadow;
    .content {
      color: $alt-black;
    }
    .term {
      color: $gray;
    }
  }

  .content {
    color: black;
    font-weight: bold;
    padding-bottom: 0.8rem;
  }
  .term {
    font-weight: normal;
    color: gray;
  }
}
