.notice-page {
    padding: 20px 10px;

    .config {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        font-size: 1.3rem;
    }
}

.notice-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    margin: 7px;
    padding: 12px 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;

    .info {
        display: flex;
        margin-top: 6px;
        font-size: 0.8rem;
        color: gray;

        .div-bar:after {
            content: '|';
            margin: 0px 3px;
        }

        .date {
            margin-left: auto;
        }
    }
}

.notice-detail {
    .title {
        display: flex;
        justify-content: center;
        margin: 0px 20px;
        font-weight: bold;
        font-size: 1.2rem;

    }

    .date {
        display: flex;
        font-size: 0.8rem;
        color: gray;
        margin: 15px 0px;

        div {
            margin-left: auto;
        }
    }

    .contents {

        // padding: 0px 50px;
        * {
            text-indent: 0pt !important;
        }
    }
}